body{
    background-color: #efefef;
}
.main{
    background-color:white;
    magin:30px;
}
.btn-publish{
    float: right;
    margin-bottom: 15px;

}
.media-object {
    width: 55px;
    height: 55px;
}
.media-body {
    padding-top: 5px;
}
media-body.media-heading {

    margin-bottom: -15px;
    font-size: 22px;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
    margin-bottom: 15px;
}
.publish-tag-tab {
    display:none;
    margin-top: 10px;
    margin-top: 10px;
}
.publish-tag-tab .label-info {
    white-space: normal;
    margin: 5px 5px;
    display: inline-block;
}
.comment{
    margin: 10px 0;
}
.btn-comment{
    float:right;
    margin-bottom: 10px;
}
.comment-sp{
    margin-top: 0;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor:pointer;
}
.menu .active{
    color: #499ef3;
}
.menu .icon:hover{
    color: #499ef3;
}
.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}
.question-tag {
    margin-right: 5px;
}
.question-egg {
    width: 100%;
}
.question-related {
    line-height: 20px;
    font-size: 12px;
    margin-left: 0;
    list-style: none;
    padding-left: 0;
}
.menu .comment-icon :hover{
    color: #499ef3;
}
.menu .comment-icon :hover{
    color: #499ef3;
}
.answerNum{
    margin-left: 10px;
}
.description_sty{
    margin-left: -16px;

}
.comments{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
}
.sub-comments {
    border-radius: 12px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 13px;

}

.sub-comments .btn {
    margin: 10px 0;
}