<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>download</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid main" >
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2 class="headline"><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span>Exhibition Center</h2>
            <hr>

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="http://cdn.wenmrong.com/renma.png" alt="...">
                    <div class="caption">
                        <!--                        <h3>Thumbnail label</h3>-->
                        <p>...</p>
                        <p><a href="/download/renma.png" class="btn btn-primary" role="button">download</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="http://cdn.wenmrong.com/xih.png" alt="...">
                    <div class="caption">
                        <!--                        <h3>Thumbnail label</h3>-->
                        <p>...</p>
                        <p><a href="/download/xih.png" class="btn btn-primary" role="button">download</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="http://cdn.wenmrong.com/xiaoba.png" alt="...">
                    <div class="caption">
                        <!--                        <h3>Thumbnail label</h3>-->
                        <p>...</p>
                        <p><a href="/download/xiaoba.png" class="btn btn-primary" role="button">download</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="http://cdn.wenmrong.com/red.png" alt="...">
                    <div class="caption">
                        <!--                        <h3>Thumbnail label</h3>-->
                        <p>...</p>
                        <p><a href="/download/red.png" class="btn btn-primary" role="button">download</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="http://cdn.wenmrong.com/futures.png" alt="...">
                    <div class="caption">
                        <!--                        <h3>Thumbnail label</h3>-->
                        <p>...</p>
                        <p><a href="/download/futures.png" class="btn btn-primary" role="button">download</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="http://cdn.wenmrong.com/ruiwen.png" alt="...">
                    <div class="caption">
                        <!--                        <h3>Thumbnail label</h3>-->
                        <p>...</p>
                        <p><a href="/download/ruiwen.png" class="btn btn-primary" role="button">download</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="http://cdn.wenmrong.com/deb.png" alt="...">
                    <div class="caption">
                        <!--                        <h3>Thumbnail label</h3>-->
                        <p>...</p>
                        <p><a href="/download/deb.png" class="btn btn-primary" role="button">download</a></p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="thumbnail">
                    <img src="http://cdn.wenmrong.com/hanb.png" alt="...">
                    <div class="caption">
                        <!--                        <h3>Thumbnail label</h3>-->
                        <p>...</p>
                        <p><a href="/download/hanb.png" class="btn btn-primary" role="button">download</a></p>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h3 class="headline"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>Easter Egg</h3>

                <img class="img-thumbnail question-egg" src="/images/iceman.png" >

            </div>
        </div>

    </div>


    </div>
</div>
</body>
</html>