<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1758372_iu83tgg8gw.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid" main>
    <div class="row">
        <div class="jumbotron">
            <h1>Error</h1>
            <p th:text="${message}">Server is overload,please waiting</p>
            <p><a class="btn btn-primary btn-lg" href="/" role="button">Go Home</a></p>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>